<ion-view>
    <ion-nav-title>Busqueda "{{busqueda}}"</ion-nav-title>

    <!--div class="subheader filter">
        Mostrar solo siniestros
        <select ng-model="response.estado" ng-options="e as e.label for e in select.estados" style="width:auto !important;"></select>

        <button style="float:right !important" ng-click="clearFilter()">Ver Todo</button>
    </div-->

    <ion-content class="has-header" padding="true">

        <div class="list card" ng-repeat="siniestro in siniestros | filter: filtraSiniestros">

            <div class="item item-divider">
                {{siniestro.taller.nombre}}<br>{{siniestro.sucursal.nombre}}
            </div>

            <a class="item item-thumbnail-left"
               ng-href="#/siniestro/{{siniestro.id}}">
                <img ng-src="img/marcas/{{siniestro.marca | imagename}}.png">

                <h2>
                    Siniestro {{siniestro.id}}
                    <p style="float:right">{{siniestro.estado}}</p>
                </h2>
                <p>{{siniestro.marca}}, {{siniestro.modelo}}, {{siniestro.ano}}, {{siniestro.color}}</p>

                <p><b>{{siniestro.patente}}</b></p>

                <p>{{siniestro.asegurado.nombre}}</p>
            </a>

        </div>

    </ion-content>
</ion-view>