<ion-view>
    <ion-nav-title>Siniestro {{siniestro.id}}</ion-nav-title>

    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-reply" ng-click="undo()"></button>
        <button class="button button-icon icon ion-ios-download" ng-click="save()"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="has-header" padding="true">

        <style type="text/css" scoped>
            #content {
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                overflow: hidden;
            }

            #canvas {
                cursor: crosshair;
                background-color: #fff;
            }
        </style>

        <div id="content"></div>

    </ion-content>
</ion-view>