<ion-view>
    <ion-nav-title>{{taller.nombre | capitalize}}</ion-nav-title>

    <ion-header-bar align-title="center" class="bar-subheader bar-positive">
        <h1 class="title">{{sucursal.nombre}}</h1>
    </ion-header-bar>

    <ion-content class="has-subheader" padding="true">

        <!--div class="subheader filter">
            Mostrar solo siniestros
            <select ng-model="response.estado" ng-options="e as e.label for e in select.estados" style="width:auto !important;"></select>

            <button style="float:right !important" ng-click="clearFilter()">Ver Todo</button>
        </div-->

        <div class="list card" ng-repeat="siniestro in sucursal.siniestros | filter: filtraSiniestros">

            <div class="item item-divider">
                Siniestro {{siniestro.id}}
                <p style="float:right">{{siniestro.estado}}</p>
            </div>

            <a class="item item-thumbnail-left"
               ng-href="#/siniestro/{{siniestro.id}}">
                <img ng-src="img/marcas/{{siniestro.marca | imagename}}.png">

                <h2>
                    {{siniestro.marca}}, {{siniestro.modelo}}, {{siniestro.ano}}, {{siniestro.color}}
                </h2>

                <p>{{siniestro.patente}}</p>

                <p>{{siniestro.asegurado.nombre}}</p>
            </a>

        </div>

    </ion-content>

</ion-view>