
/* ----------------- talleres y sucursales -----------------*/

.inspeccion{
    margin-top:-40px;
    width:200px;

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

/* ----------------------------------------------*/

select {
    width: 100% !important;
    max-width: 100% !important;
}
