/*

azul fuerte = #112C5E
azul normal = #005094

rojo oscuro = #CA1F27
rojo fuerte = #FF002A

gris oscuro = #777
gris claro = #E8E8E8

verde = #8FBC56

*/
/* ----------------- general -----------------*/

.item.automotora{
    background-color: powderblue !important;
}


/* ----------------- talleres y sucursales -----------------*/

.tcard .item-divider, .scard .item-divider {
    background-color: #112C5E;
    border-color: #112C5E;
    color: #FFF;
    font-size: 12pt;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: inherit;
}
.tcard .item-text-wrap, .scard .item-text-wrap {
    padding: 0 !important;
    margin: -2px !important;
}
/* */

.tcard {
    margin-top: 10px !important;
}
.tcard .list .item {
    padding: 0;
    margin: -2px;
}
.tcard .list .row {
    padding: 0 !important;
}
.tcard .list .col {
    font-size: 12pt;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: inherit;
}
.tcard .title {
    padding: 10px !important;
}
.tcard .info {
    background-color: #777;
    border: 1px solid #FFF;
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    color: #FFF;
    width: 33px;
}
.tcard .alert {
    background-color: #FF002A;
}
/* ----------------- sucursales -----------------*/

.scard{
    margin-top: 10px !important;
}

.scard .item .row {
    padding: 0 !important;
    margin-top: -1px;
}
.scard .col {
    font-size: 12pt;
    _margin-bottom: -1px !important;
    _margin-right: -1px !important;
    _padding: 10px 10px 10px 10px !important;
}
.scard .col-image {
    border-right: 1px solid #777 !important;
    max-width: 200px !important;
    text-align: center;
}
.scard .col-image img {
    height: 150px;
    max-width: 180px;
}
.scard .col-details {
    padding: 0;
}
.scard .col-details .row {
    margin-top: 0;
}
.scard .col-details .col {
    border-top: 1px solid #777;
    padding: 5px 5px 5px 10px;
}
.scard .col-icon {
    border-right: 1px solid #777;
    padding-top: 7px !important;
}
/* --------------------- siniestros -------------------------*/

.sincard{
    padding:10px;
    background-color:#112C5E;
}
.sincard hr{
    border:0;
    padding:0;
    margin:0;
    height:10px;
}
.sincard textarea{
    padding:10px;
    width:100%;
}
.sincard .item{
    font-size:18px;
}

.sincontainer{
    background-color:#FFF;
    display:inline-block;
    vertical-align:top;
    width:100%;
}

.sincontainer span{
    background-color:#FFF;
    display:block;
    padding:10px;
    border-bottom:1px solid #777;
}
.sincontainer span:last-child{
    border-bottom:0;
}

.imglibre {
    display: inline-block;
    margin: 5px;
    margin-right:0;
    width: 180px;
    height: 180px;
}
.imglibre img {
    width: 100%;
    height: 100%;
}

.inspeccion{
    margin-top:-40px;
    width:200px;

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}


.sinlistitem{
    background-color:#FFF;
    padding:15px;
}

.sinlistitem i{
    float:right;
    margin-top:-10px;
    margin-right:-10px;
    width:40px;
    height:40px;

    padding-top:6px;
    font-size:25px;
}

.minibutton{
    width:45%;
    float:left;
}
.minibutton span{
    text-align:center;
    background-color: #005094 !important;
    color:#FFF;
}

.____active{
    background-color:#FFF !important;
    color:#333 !important;
}

.action{
    background-color:#FF002A !important;
    border:1px solid #CA1F27 !important;
    color:#FFF !important;
    font-weight:bold;
    text-align:center
}

.done{
    background-color:#005094 !important;
    border-color:#112C5E !important;
}

/* -------------------- busqueda --------------------------*/

.item-subheader {
    background-color: #005094 !important;
    border-color: #005094 !important;
    border-top: none !important;
    padding: 3px 10px 3px 10px !important;
    height: 28px !important;
    font-size: 12px !important;
    color: #FFF !important;
}

/* ----------------------------------------------*/

select {
    width: 100% !important;
    max-width: 100% !important;
}

input{
    padding:10px;
    border:1px solid black !important;
    float:none;
}